*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8vw;
}

#menu img{
    cursor: pointer;
}

/* main */
#banner{
    width: 100%;
}

#info-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    border-bottom: 0.2px solid #e3e0e0;
}

#info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

#titulo{
    font-weight: 700;
}

/* main - cards */
#master-cards{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.card{
    width: 20vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filtro{
    width: 100%;
    height: auto;
    background-color: #5CA720;
}

.filtro img{
    width: 100%;
    height: 100%;
}

.filtro img:hover{
    opacity: 0.5;
}

.caixa-texto{
    width: 15vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card span {
    color: #5CA720;
    text-decoration: underline;
}

.card button {
    border: none;
    width: 8vw;
    padding: 2% 2%;
    cursor: pointer;
    background-color: #5CA720;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.card button:hover{
    background-color: #512200BD;
}


/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.6px solid #e3e0e0;
    background-color: #F9F9F9;
}

#direcionamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 20vh;
}

#direcionamento ul{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#direcionamento li{
    list-style-type: none;
}

#direcionamento a{
    text-decoration: none;
    color: #161616;
}

#direcionamento a:hover{
    color: #5CA720;
}

#direcionamento form{
    height: 15vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box-email{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

#campo-email{
    width: 100%;
    border: 0.5px solid #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
}

#button-email {
    border: none;
    cursor: pointer;
    background-color: #5CA720;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 0px 5px 5px 0px;
}

#redes-pag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 10vh;
}

#box-redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#box-redes img{
    width: 80%;
}

#box-redes a{
    text-decoration: none;
}

#box-pagamentos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pag-pay{
    width: 20%;
    cursor: pointer;
}

#pag-master, #pag-visa{
    width: 30%;
    cursor: pointer;
}

@media (max-width: 480px) {
    #topo{
        width: 80vw;
    }
    #menu{
        width: 20vw;
    }
    #info{
        width: 80vw;
    }
    .box-cards{
        justify-content: center;
        width: 80vw;
        flex-wrap: wrap;
    }
    .card{
        padding-top: 6% 0%;
        width: 80vw;
        height: 60vh;
    }
    .caixa-texto{
        width: 50vw;
        height: 10vh;
    }
    .card button {
        width: 25vw;
    }
    #direcionamento{
        height: 25vh;
        width: 80vw;
        flex-direction: column;
    }
    #direcionamento ul{
        width: 100%;
        padding: 5% 0%;
    }
    #direcionamento form{
        width: 100%;
    }
    #box-email{
        width: 100%;
        flex-direction: column;
    }
    #campo-email, #button-email{
        border-radius: 5px 5px 5px 5px;
    }    
    #redes-pag{
        width: 80vw;
        height: 20vh;
    }
}
